:root {
  /* --bg-color: #ffffff;
  --text-color: #121212;
  --p-font: 1.1rem; */
  --main-font: 2.2rem;

  
    --theme-bg: #191919; /* use like -> color: var(--theme-bg); */
    --theme-white: #fff; /* best for text */
    --theme-black: #000;
    --theme-primary:#00f0f0; /* accent color */
    --theme-secondary:#0e8888;
    --theme-tertiary:#2e4f4f;
    --theme-radius: 0.5rem;
    --theme-blur:10px; /* use like -> backdrop-filter: blur(var(--theme-blur)); */

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;      /*to remove underline from anchor tag contents*/
  list-style: none;           /*to remove bullets from ul items*/
  scroll-behavior: smooth;
  text-transform: capitalize;
}

body{
  background: var(--theme-bg);
  color: var(--theme-white);
  
}

header{
  width: 100%;                /*to expand it to whole web page(horizontaly)*/
  top: 0;                     /*to start from upper margin*/
  right: 0;                   /*make header content expand till right corner*/
  z-index: 1000;
  position: fixed;            /*to make header contents visible even while scrolling*/
  background:var(--theme-bg)ff ;
  box-shadow: 0px 2px 18px 0px rgb(129, 162, 182);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 8%;
  transition: 0.3s;
  backdrop-filter: blur(var(--theme-blur));

}

.logo {
  color: var(--text-color);
  font-size: var(--main-font);
  font-weight: 600;
  line-height: 0.8;
}

#menu-icon {
  font-size: 38px;
  color: var(--theme-white);
  z-index: 10001;
  display: none;
}

.navbar{
  display: flex;
  /* opacity: 0.1; */
  }

.navbar a{
  font-size: var(--main-font);
  color: var(--text-color);
  font-weight: 600;
  padding: 30px 15px;
  transition: all 0.40s ease;
  align-items: center;
  backdrop-filter: blur(var(--theme-blur))
}

.navbar a:hover {
  background: yellow;
  color: var(--theme-primary);
}

.icons {
  display: inline-block;
}

.icons i,p {
  color: var(--theme-white);
  font-size: 24px;
  margin-left: 15px;
}

#cart p{
  height: 22px;
  width: 22px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* border-radius: 22px; */
  color: wheat;
  /* background-color: gold; */
}

section{
  padding: 10px 8%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 3rem;
  text-align: center;
  cursor: pointer;
  padding-top: 10rem;           /*get down items covering from navbar*/
}

.root {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.sidebar{
  width: auto;
  border-radius: 5px;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  float: right;
}

.head {
  background-color: var(--theme-secondary);
  border-radius: 4px;
  height: 40px;
  padding: 10%;
  margin-bottom: 20px;
  color: wheat;
  display: flex;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid wheat;
}

.box{
  padding: 0px 20px 10px 20px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55, 55, 55);     /*align items next to others horizontaly*/
  border-radius: 10px;
  position: relative;
  transition: all 0.35s ease;
}

.box img{
  width: 100%;
  height: auto;
}

.box h4{
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.box h5 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.box .cart{
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: var(--theme-primary);
  color: var(--theme-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: 1px solid var(--theme-black);
}

.box:hover {
  transform: scale(1.1);
}





